In [1]:
# stdlib
import warnings
warnings.filterwarnings("ignore")
# third party
from sklearn.datasets import load_diabetes
# synthcity absolute
from synthcity.plugins import Plugins
eval_plugin = "syn_seq"
# synthcity absolute
from synthcity.plugins.core.dataloader import Syn_SeqDataLoader
X, y = load_diabetes(return_X_y=True, as_frame=True)
X["target"] = y

[KeOps] Warning :
    The default C++ compiler could not be found on your system.
    You need to either define the CXX environment variable or a symlink to the g++ command.
    For example if g++-8 is the command you can do
      import os
      os.environ['CXX'] = 'g++-8'

[KeOps] Warning : Cuda libraries were not detected on the system or could not be loaded ; using cpu only mode

In [2]:
import numpy as np
X['test'] = np.random.randint(0, 30, size=len(X))
print(X)

          age       sex       bmi        bp        s1        s2        s3  \
0    0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1   -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2    0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3   -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4    0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142
..        ...       ...       ...       ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744 -0.005697 -0.002566 -0.028674
438 -0.005515  0.050680 -0.015906 -0.067642  0.049341  0.079165 -0.028674
439  0.041708  0.050680 -0.015906  0.017293 -0.037344 -0.013840 -0.024993
440 -0.045472 -0.044642  0.039062  0.001215  0.016318  0.015283 -0.028674
441 -0.045472 -0.044642 -0.073030 -0.081413  0.083740  0.027809  0.173816

           s4        s5        s6  target  test
0   -0.002592  0.019907 -0.017646   151.0    25
1   -0.039493 -0.068332 -0.092204    75.0    23
2   -0.002592  0.002861 -0.025930   141.0    15
3    0.034309  0.022688 -0.009362   206.0     3
4   -0.002592 -0.031988 -0.046641   135.0    20
..        ...       ...       ...     ...   ...
437 -0.002592  0.031193  0.007207   178.0    27
438  0.034309 -0.018114  0.044485   104.0    25
439 -0.011080 -0.046883  0.015491   132.0    27
440  0.026560  0.044529 -0.025930   220.0    17
441 -0.039493 -0.004222  0.003064    57.0    26

[442 rows x 12 columns]

In [3]:
user_custom = {
  'syn_order' : ['sex', 'bmi', 'age','test', 'bp', 's1', 's2', 's3', 's4', 's5', 's6', 'target'],
  'method' : {'bp':'norm'},
  'special_value': {'test': [2]},
  'col_type' : {"age": "category", "sex": "category"},
  'variable_selection' : {
    "s4": ['sex', 'bmi', 'age', 'bp', 's1', 's2'],
    "target": ['sex', 'bmi', 'age', 'bp', 's1', 's2', 's3'],
  }
}

In [4]:
X

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target,test
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0,25
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0,23
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0,15
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0,3
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0,20
...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,27
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0,25
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0,27
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0,17
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0,26

In [5]:
loader = Syn_SeqDataLoader(X, target_column="target", sensitive_columns=["sex"], user_custom = user_custom)

[INFO] Syn_SeqEncoder summary:
  - syn_order: ['sex', 'bmi', 'age', 'test', 'bp', 's1', 's2', 's3', 's4', 's5', 's6', 'target']
  - converted_type => {'sex': 'category', 'bmi': 'numeric', 'age': 'category', 'test': 'numeric', 'bp': 'numeric', 's1': 'numeric', 's2': 'numeric', 's3': 'numeric', 's4': 'numeric', 's5': 'numeric', 's6': 'numeric', 'target': 'numeric'}
  - method => {'sex': 'swr', 'bmi': 'cart', 'age': 'cart', 'test': 'cart', 'bp': 'norm', 's1': 'cart', 's2': 'cart', 's3': 'cart', 's4': 'cart', 's5': 'cart', 's6': 'cart', 'target': 'cart'}
  - special_value => {'test': [2]}
  - variable_selection_:
        sex  bmi  age  test  bp  s1  s2  s3  s4  s5  s6  target
sex       0    0    0     0   0   0   0   0   0   0   0       0
bmi       1    0    0     0   0   0   0   0   0   0   0       0
age       1    1    0     0   0   0   0   0   0   0   0       0
test      1    1    1     0   0   0   0   0   0   0   0       0
bp        1    1    1     1   0   0   0   0   0   0   0       0
s1        1    1    1     1   1   0   0   0   0   0   0       0
s2        1    1    1     1   1   1   0   0   0   0   0       0
s3        1    1    1     1   1   1   1   0   0   0   0       0
s4        1    1    1     0   1   1   1   0   0   0   0       0
s5        1    1    1     1   1   1   1   1   1   0   0       0
s6        1    1    1     1   1   1   1   1   1   1   0       0
target    1    1    1     0   1   1   1   1   0   0   0       0
------------------------------------------------

In [6]:
Plugins().list()

[2025-01-21T14:54:18.429334+0900][11620][CRITICAL] module disabled: C:\Users\hsrhe\Desktop\synthcity\src\synthcity\plugins\generic\plugin_goggle.py

['fflows',
 'image_adsgan',
 'arf',
 'ctgan',
 'survae',
 'decaf',
 'survival_nflow',
 'bayesian_network',
 'dummy_sampler',
 'syn_seq',
 'survival_ctgan',
 'privbayes',
 'uniform_sampler',
 'ddpm',
 'pategan',
 'dpgan',
 'timevae',
 'great',
 'marginal_distributions',
 'rtvae',
 'adsgan',
 'survival_gan',
 'nflow',
 'radialgan',
 'tvae',
 'aim',
 'image_cgan',
 'timegan']

In [7]:
syn_model = Plugins().get("syn_seq")

[2025-01-21T14:54:22.858824+0900][11620][CRITICAL] module disabled: C:\Users\hsrhe\Desktop\synthcity\src\synthcity\plugins\generic\plugin_goggle.py

In [8]:
syn_model.fit(loader)

In [9]:
syn_df = syn_model.generate(nrows = len(X)).dataframe()

In [10]:
loader

,sex,bmi,age,test,bp,s1,s2,s3,s4,s5,s6,target,test_cat
0,0.050680,0.061696,0.038076,25.0,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0,-777
1,-0.044642,-0.051474,-0.001882,23.0,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0,-777
2,0.050680,0.044451,0.085299,15.0,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0,-777
3,-0.044642,-0.011595,-0.089063,3.0,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0,-777
4,-0.044642,-0.036385,0.005383,20.0,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0,-777
...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.050680,0.019662,0.041708,27.0,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,-777
438,0.050680,-0.015906,-0.005515,25.0,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0,-777
439,0.050680,-0.015906,0.041708,27.0,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0,-777
440,-0.044642,0.039062,-0.045472,17.0,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0,-777
441,-0.044642,-0.073030,-0.045472,26.0,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0,-777

In [11]:
syn_df.dtypes

sex       float64
bmi       float64
age       float64
test      float64
bp        float64
s1        float64
s2        float64
s3        float64
s4        float64
s5        float64
s6        float64
target    float64
dtype: object